<div class="wrapper" *ngIf="deathData && deathData.result">
  <div class="statistic">

    <div class="total-case-box">
      <h2>Total Cases</h2>
      <p>{{ deathData.result.confirmed | whitespace }}</p>
      <h5>updated at {{ deathData.date | date:'medium' }}</h5>
    </div>

    <div class="box-wrapper">

      <div class="box">
        <h2>Total Death</h2>
        <p>{{ deathData.result.deaths | whitespace }}</p>
      </div>

      <div class="box">
        <h2>Total Recovery</h2>
        <p>{{ deathData.result.recovered | whitespace }}</p>
      </div>

    </div>
  </div>

  </div>

<app-data-table></app-data-table>
