<div class="wrapper" *ngIf="!deathData && countryData; else loading">
  <div class="statistic">

    <div class="total-case-box">
      <h2>Total Cases</h2>
      <p id="total_cases">{{ deathData.total_cases }}</p>
    </div>
    countryData {{ countryData.countries_stat[0] | json }}
    <div class="box_wrapper">
      <div class="box">
        <h2>Total Death</h2>
        <p id="total_death">{{ deathData.total_deaths }}</p>
      </div>

      <div class="box">
        <h2>Total Recovery</h2>
        <p id="total_recovered"> </p>
      </div>

      <div class="box">
        <h2>New case</h2>
        <p id="new_case"> </p>
      </div>

      <div class="box">
        <h2>New Death</h2>
        <p id="new_death"> </p>
      </div>
    </div>
  </div>


<!--    <ng-template>-->
      <div class="search">
        <input type="text" class="search">
      </div>
<!--    </ng-template>-->

    <table id="countries_stat">
      <tr>
        <th>Country</th>
        <th>Cases</th>
        <th>Deaths</th>
        <th>serious critical</th>
        <th>total recovered</th>
      </tr>
    </table>
  </div>

<ng-template #loading>
  <div class="loader">
    <img src="./../assets/images/covid.jpg" alt="loader" />
    Load data...
  </div>
</ng-template>
