.wrapper {
  width: 90%;
  margin: 0 auto;

  .statistic {
    width: 100%;

    .total-case-box {
      background-color: #fafafa;
      box-shadow: 2px 2px 8px rgba(30,30,30,.2);
      margin: 10px 15px;
      padding: 15px 0;
      text-align: center;
      text-transform: uppercase;

      p {
        font-size: 3rem;
      }
    }

    .box-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;

      .box {
        background-color: #fafafa;
        box-shadow: 2px 2px 8px rgba(30,30,30,.2);
        margin: 10px 15px;
        width: 50%;
        text-align: center;
        padding: 15px 0;
        border-radius: 8px;
        text-transform: uppercase;

        p {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .wrapper {
    .statistic {
      .total-case-box, .box-wrapper {
        h2 {
          font-size: 12px;
        }
        p {
          font-size: 18px;
        }
        .box {
          h2 {
            font-size: 12px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
